.image-loader-container {
    height: calc(100%);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .title {
        position: absolute;
        z-index: 9999;
        left: 10px;
        top: 10px;
        font-size: 1em;
    }
}