@import 'antd/dist/antd.css';
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(48, 48, 48, 0.3);
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #646464;
    border: 2px solid #555555;
  }


  span {
    font-family: 'Roboto', sans-serif, Saira Semi Condensed,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  }